<div class="flex justify-center items-start mt-8 max-w-[1800px] mx-auto gap-6">
    <div class="flex-grow text-gray-800 max-w-sm">
        <section class="text-gray-800 bg-white shadow-md ml-5 py-4">
            <h2 class="text-gray-700 pb-4 px-4">
                <em class="fa-solid fa-fire text-tertiary-500"></em>
                Top Competitions
            </h2>
            <ul>
                <li *ngFor="let competi of hotLeagues" class="border-b-2 border-gray-200 last-of-type:border-none">
                    <button class="w-full flex justify-start px-4 items-center p-0 transition-colors ease-linear duration-[350ms]
                    bg-gradient-to-r hover:from-secondary-200 hover:to-tertiary-300 rounded-none group">
                        <span class="flex w-[2.5rem] h-10 justify-center">
                            <img [src]="competi['league']['logo']" class="h-full w-auto"
                                [alt]="competi['league']['name'] +  'logo'">
                        </span>
                        <span class="flex-grow text-start ml-3">
                            <strong class="text-gray-700 text-xl group-hover:text-gray-50">{{ competi['league']['name']
                                }}</strong>
                            <span class="inline-flex w-full items-center " [ngClass]="[
                                (!competi['country']['flag'] 
                                    ? 'before:content-[\'\'] before:inline-flex before:px-[9px] before:py-[8px] before:bg-gray-400' 
                                    : '') 
                                    ]">
                                <svg-icon *ngIf="competi['country']['flag']"
                                    [src]="'assets/svgs/flags/'+ (competi['country']['code'] | lowercase)+'.svg'"
                                    [svgStyle]="{ width: '1.125rem', height: '1rem' }">
                                </svg-icon>
                                <span class="text-gray-800 uppercase pl-2 group-hover:text-gray-50">{{
                                    competi['country']['name'] }}</span>
                            </span>
                        </span>
                        <em class="fa-solid fa-arrow-right text-xl opacity-0 group-hover:opacity-100"></em>
                    </button>
                </li>
            </ul>
        </section>
        <section>
            <div>
            </div>
            My favorite leagues section
        </section>
    </div>
    <div class="border-4 border-blue-400 max-w-4xl mx-auto grow-[2]">
        <div class="flex">
            <button class="text-gray-500 text-2xl hover:text-primary-400">
                <em class="fa-solid fa-chevron-left"></em>
            </button>
            <div class="flex shadow-lg grow justify-evenly">
                <button *ngFor="let date of getWeekDates(); let i = index" class="text-gray-700 rounded-md border-3 border-gray-500 font-oxygen text-center
                    w-[65px]">
                    <span class="text-sm">{{ date.format('MMM') }}</span>
                    <strong class="block font-bold text-xl">
                        {{ date.date()}}
                    </strong>
                    <strong class="font-normal">
                        {{date.format('ddd')}}
                    </strong>
                </button>
            </div>
            <button class="text-gray-600">
                <em class="fa-solid fa-chevron-right"></em>
            </button>
        </div>
        <h1 class="text-gray-800 text-4xl">FakeFootball app is running</h1>
    </div>
    <section class="border-4 border-red-600 flex-grow text-gray-800 max-w-md">
        Bets section maybe
    </section>
</div> 