<nav class="bg-secondary-800 w-[100%] py-2 px-2 shadow-md">
    <div class="flex justify-between items-center w-[100%] gap-x-4">
        <a href="#" class="text-gray-100 font-oxygen-mono font-bold text-2xl">
            FakeFootball
        </a>
        <ul class="grow pl-8">
            <li class="group">
                <a class="text-gray-100 text-lg font-oxygen font-bold pr-5 relative before:transition-transform before:ease-in
                before:content-[''] before:pt-1 before:bg-primary-200 before:w-[85%] before:absolute before:bottom-[-8px] 
                before:left-0 before:translate-x-[-105%] before:duration-100 before:opacity-0 hover:before:translate-x-[0%]
                hover:before:opacity-100" href="#">Scores</a>
                <a class="text-gray-100 text-lg font-oxygen font-bold pr-4  group-last:pr-0" href="#">News</a>
            </li>
        </ul>
        <div class="">
            <ul class="flex items-center">
                <li class="pr-3">
                    <button
                        class="rounded-lg bg-secondary-200/[.60] text-gray-50 text-lg hover:text-gray-50 hover:bg-primary-500 hover:rounded-full transition-all duration-[350ms] ease-linear">
                        <em class="fa-solid fa-magnifying-glass"></em>
                    </button>
                </li>
                <li class="pr-3">
                    <a href="#"
                        class="px-3 py-3 rounded-xl bg-secondary-200/[.65] text-primary-light text-lg hover:text-secondary-400 hover:bg-primary hover:rounded-full transition-all duration-[350ms] ease-linear">
                        <em class="fa-solid fa-user"></em>
                        <span class="font-oxygen pl-2">Log in</span>
                    </a>
                </li>
                <li class="pr-3 last:pr-0">
                    <button
                        class="rounded-xl bg-secondary-400 text-primary-light text-lg hover:text-secondary-400 hover:bg-primary hover:rounded-full transition-all duration-[350ms] ease-linear">
                        <em class="fa-solid fa-gear"></em>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>